@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

/* @font-face {
    font-family: Jura;
    src: url(fonte/jura/JuraBook.ttf);
} */
:root{
    --background-color: #0E0E0F;
    --color: white;
    --titulo-pagina: #AAAAAA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
}
ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
header .menu{

}
header .menu .barras{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
}
.menu .barras .barra{
    background-color: var(--color);
    width: 40px;
    height: 4px;
    border-radius: 2px;
}
/* Click quando clicar js no lugar de .barras */
.menu .click{
    position: relative;
}
.menu .click .barra{
    position: absolute;
    background-color: var(--color);
    width: 40px;
    height: 4px;
    border-radius: 2px;
}

.menu .click #barra1{
    transform: rotate(45deg);
}
.menu .click #barra2{
    transform: rotate(-45deg);
}
.menu .click #barra3{
    display: none;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    font-weight: 700;
    font-style: normal; 
    font-size: 22px; 
    
}
header ul a{
    text-decoration: none;
    color: var(--color);
    background-color: var(--color);
    color: var(--background-color);
    padding: 5px 10px;
    border-radius: 2px;
}

main .home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.titulo-pagina{
    color: var(--titulo-pagina);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    margin-bottom: 30px;
}
.home .esquerda, .home .direita{
    width: 400px;
}
.esquerda p{
    font-size: 22px;
}
.esquerda h1{
    font-size: 40px; 
}
.esquerda span{
    display: block;
    font-size: 43px;
}
.home .esquerda ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 20px;
}
.esquerda ul li img{
    width: 40px;
}
.home .direita{
    background-image: url(../img/home_desenho.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: calc(100vh - 80px);
}

.skills{

}
.skills .esquerda, .skills .direita{
    width: 400px;
}
.skills .centro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.skills .centro .esquerda p{
    font-size: 32px;
    margin-bottom: 15px;
    
}
.skills .centro .esquerda ul{
    list-style: disc;
    list-style-position: inside;
    font-size: 22px;
}
.skills .centro .esquerda ul li{
    margin-bottom: 8px;
    width: 500px;
}
.skills .centro .direita ul{
    position: relative;
}
.skills .centro .direita ul li{
    position: absolute;
}
.skills .centro .direita ul li{
    font-size: 22px;
}
.skills .centro .direita ul li:hover{
    font-size: 28px;
}
.skills .centro .direita ul #ling1{

}
.skills .centro .direita ul #ling2{
    left: 250px;
    top: 10px;
}
.skills .centro .direita ul #ling3{
    top: 40px;
    left: 40px;
}
.skills .centro .direita ul #ling4{
    top: 80px;
}
.skills .centro .direita ul #ling5{
    top: 60px;
    left: 250px;
}
.skills .centro .direita ul #ling6{
    top: 120px;
    left: 100px;
}
.skills .centro .direita ul #ling7{
    top: 100px;
    left: 200px;
}
.skills .centro .direita ul #ling8{
    top: 160px;
}
.skills .centro .direita ul #ling9{
    top: 140px;
    left: 200px;
}